<!DOCTYPE html>
<html lang="en" ng-app="brstyles">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BR Styles</title>

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="/images/favicon.ico">

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- FONTS -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <!-- VENDOR SCRIPTS -->
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>

  <!-- APPLICATION SCRIPTS || ADD FRONTEND CONTROLLERS -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/StylistsIndexController.js"></script>
  <script src="/scripts/controllers/StylistsAppointmentsIndexController.js"></script>


</head>

<body>
  <div class="section-hero-logo" align="center">
    <img class="img-responsive" src="/images/Banana_Republic_logo.png" style=alt="">
  </div>

  <div class="jumbotron">
    <div class="col-xs-6" align="center" id="jumbotron-message">
      <h1>Your Life. <span>Styled.</span></h1>
      <p>Schedule your appointment today.</p>
    </div>
  </div>

  <div ng-view></div>

  <footer>
    <div class="hide-Uni footer-banner-container needsclick toggle-universal-modal onesite" data-url="/Asset_Archive/ONWeb/content/0013/055/275/assets/edfsLegal.html" data-modal-size="standard" data-action-sheet="small">
    	<div class="footer-banner-inner grid-root">

    			<div id="wcd-universal-banner-message-container" class="hide-Uni footer-banner-text-container g-1-1 g-lg-1-2">

    				<div class="shipping banner-message grid-root">
    			      	<picture class="g-1-4 g-vertcenter icon">
    			        	<source media="(max-width:767px)" data-srcset="/assets/common/clear.gif" />
    			        	<source media="(min-width:1025px)" data-srcset="/assets/common/clear.gif" />
    			          <img class="" id="svg-shipping-footer" data-src="/Asset_Archive/ONWeb/content/0010/680/774/assets/icon-shipping.svg" data-nonsvgimg="/Asset_Archive/ONWeb/content/0010/680/774/assets/icon-shipping@2x.png" alt="Banana republic"/>
    			        </picture>

    					<div class="text g-3-4 g-vertcenter g-grow1">
    						<h3 class="heading-b">Shipping is on us!</h3>
    						<div class="body-a">FREE on orders of $50 or more</div>
    					</div>
    				</div><!-- /.shipping -->

    				<div class="returns banner-message grid-root">
    			      	<picture class="g-1-4 g-vertcenter icon">
    			        	<source media="(max-width:767px)" data-srcset="/assets/common/clear.gif" />
    			        	<source media="(min-width:1025px)" data-srcset="/assets/common/clear.gif" />
    								<img class="" id="svg-returns-footer" data-src="/Asset_Archive/ONWeb/content/0010/680/774/assets/icon-returns.svg" data-nonsvgimg="/Asset_Archive/ONWeb/content/0010/680/774/assets/icon-returns@2x.png" alt="Banana republic"/>
    			        </picture>

    					<div class="text g-3-4 g-vertcenter g-grow1">
    						<h3 class="heading-b">FREE Returns on All Orders</h3>
    					</div>
    				</div><!-- /.returns -->

    				<div class="checkout banner-message grid-root">
    			      	<picture class="g-1-4 g-vertcenter icon">
    			        	<source media="(max-width:767px)" data-srcset="/assets/common/clear.gif" />
    			        	<source media="(min-width:1025px)" data-srcset="/assets/common/clear.gif" />
    								<img class="" id="svg-shopping-footer" data-src="/Asset_Archive/ONWeb/content/0010/680/774/assets/icon-shoppingbag.svg" data-nonsvgimg="/Asset_Archive/ONWeb/content/0010/680/774/assets/icon-shoppingbag@2x.png" alt="Banana republic"/>
    			        </picture>

    					<div class="text g-3-4 g-vertcenter g-grow1">
    						<h3 class="heading-b">4 Brands, One Easy Checkout</h3>
    					</div>
    				</div><!-- /.checkout -->

    			</div><!-- /#wcd-universal-banner-message-container -->
    			<div class="logos-footer g-1-1 g-lg-1-2 g-vertcenter">
    		      <picture>
    		        <source media="(max-width:767px)" data-srcset="/assets/common/clear.gif" />
    		        <source media="(min-width:1025px)" data-srcset="/assets/common/clear.gif" />
    						<img id="svg-logos-footer" data-src="/Asset_Archive/ONWeb/content/0010/680/774/assets/logos.svg" data-nonsvgimg="/Asset_Archive/ONWeb/content/0010/680/774/assets/logos@2x.png" alt="Gap | Banana Republic | Old Navy | Athleta" />
    		      </picture>
    			</div>
    			<div class="g-1-1 details">details</div>
    	</div>
    </div> <!-- /.footer-banner-container -->


    <!-- <div class="footer-div">
      <div class="row">
        <div class="col-xs-3">
          <p align="center">About us</p>
        </div>
        <div class="col-xs-3">
          <p align="center">Contact</p>
        </div>
        <div class="col-xs-3">
          <p align="center">Support</p>
        </div>
        <div class="col-xs-3">
          <p align="center">Sign in</p>
        </div>
      </div>
    </div> -->

  </footer>

</body>

</html>
