<!DOCTYPE html>
<html lang="en" ng-app="brstyles">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>BR Styles</title>

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="/images/favicon.ico">

  <!-- STYLESHEETS -->
  <link rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/bootstrap-theme.min.css">
  <link rel="stylesheet" href="/styles/styles.css">

  <!-- FONTS -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

  <!-- VENDOR SCRIPTS -->
  <script src="/vendor/angular/angular.min.js"></script>
  <script src="/vendor/angular-route/angular-route.min.js"></script>

  <!-- APPLICATION SCRIPTS || ADD FRONTEND CONTROLLERS -->
  <script src="/scripts/app.js"></script>
  <script src="/scripts/controllers/StylistsIndexController.js"></script>
  <script src="/scripts/controllers/StylistsShowController.js"></script>


</head>

<body>
  <div class="section-hero-logo" align="center">
    <img class="img-responsive" src="/images/Banana_Republic_logo.png" style=alt="">
  </div>

  <div class="jumbotron">
    <div class="col-xs-6" align="center" id="jumbotron-message">
      <h1>Your Life. <span>Styled.</span></h1>
      <p>Schedule your appointment today.</p>
    </div>
  </div>

  <div ng-view></div>

  <footer>
    <div class="col-xs-12" id="footer-div">
      <p align="center"><a href="http://bananarepublic.gap.com/customerService/storeLocator.do?mlink=5001,8723809,12&clink=8723809">Find us</a> | <a href="http://bananarepublic.gap.com/browse/home.do?ssiteID=BR">Shop</a> |
        <a href="https://www3.onlinecreditcenter6.com/eSecurity/Login/login.action?clientId=br&accountType=generic&langId=en">Pay my bill</a> | <a href="http://bananarepublic.gap.com/customerService/info.do?cid=6740">Support</p></a>
        <p align="center">© 2001-2017 BananaRepublic.com | Privacy Policy | Interest Based Ads | Your California Privacy Rights | Terms of Use | Careers | Social Responsibility | About Gap Inc. Americans with Disabilities Act</p>
    </div>
    </div>
  </footer>

</body>

</html>
