<div class="container" id="create-stylists-form">
      <div class="row">
        <div class="col-md-12">

          <form class="form-horizontal" ng-submit="stylistsIndexCtrl.createStylist()">
            <fieldset>

              <!-- Form Name -->
              <legend align="center">Add New Stylist</legend>

              <!-- Text input-->
              <div class="form-group">
                <div class="col-md-12">
                <input placeholder="Name" ng-model="stylistsIndexCtrl.newStylist.name" type="text" class="form-control input-md" required="" autofocus="on">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <div class="col-md-12">
                <input placeholder="Bio"ng-model="stylistsIndexCtrl.newStylist.bio" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <div class="col-md-12">
                <input placeholder="Location" ng-model="stylistsIndexCtrl.newStylist.location" type="text" class="form-control input-md">
                </div>
              </div>

              <!-- Button -->
              <div class="form-group">
                <div class="col-md-12">
                  <button class="btn btn-primary">Create Stylist</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
</div>

<!-- Mid Secton
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<div class="stylists">
  <div class="container">
    <div class="col-xs-12">
      <h1 align="center">Edit a stylist.</h1>
      <div class="container" ng-controller="StylistsIndexController as stylistsIndexCtrl">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search stylists">
        <div ng-repeat="s in stylistsIndexCtrl.stylists | orderBy: 'name' | filter: searchText" class="row">
          <br>
          <div class="col-md-10 col-md-offset-1">
            <div class="">
              <div class="">

                <div class='row'>
                  <div class="col-md-3 col-xs-12 thumbnail">
                    <img src="/images/placeholder.jpeg" alt="">

                    <div class="crud-stylist-btns" align="center">
                      <button class='btn btn-danger' ng-click="stylistsIndexCtrl.deleteStylist(s)">Delete Stylist</button>
                      <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Edit Stylist</button>
                      <button class='btn btn-success' ng-show="editing" ng-click="stylistsIndexCtrl.editStylist(s); editing = false">Save Changes</button>
                    </div>
                  </div>

                  <div class="col-md-9 col-xs-12">

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span ng-hide="editing">{{s.name}}</span>
                      <input ng-show="editing" ng-model="s.name" type="text" class="form-control input-md">
                    </li>

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span ng-hide="editing">{{s.bio}}</span>
                      <input ng-show="editing" ng-model="s.bio" type="text" class="form-control input-md">
                    </li>

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span ng-hide="editing">{{s.location}}</span>
                      <input ng-show="editing" ng-model="s.location" type="text" class="form-control input-md">
                    </li>
                    </ul>
                  </div>
                </div>

                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
