<div class="stylists">
  <div class="container">
    <div class="col-xs-12">
      <h1 align="center">Choose a stylist.</h1>
      <div class="container" ng-controller="AppointmentsIndexController as stylistsIndexCtrl">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search stylists">
        <div ng-repeat="stylist in stylistsIndexCtrl.stylists | orderBy: 'name' | filter: searchText" class="row">
          <br>
          <div class="col-md-10 col-md-offset-1">
            <div class="">
              <div class="">

                <div class='row'>
                  <div class="col-md-3 col-xs-12 thumbnail">
                    <img src="/images/placeholder.jpeg" alt="">

                  </div>

                  <div class="col-md-9 col-xs-12">

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <a ng-hide="editing">{{stylist.name}}</a>
                      <input ng-show="editing" ng-model="stylist.name" type="text" class="form-control input-md">
                    </li>

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span ng-hide="editing">{{stylist.bio}}</span>
                      <input ng-show="editing" ng-model="stylist.bio" type="text" class="form-control input-md">
                    </li>

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span ng-hide="editing">{{stylist.location}}</span>
                      <input ng-show="editing" ng-model="stylist.location" type="text" class="form-control input-md">
                    </li>
                    <li>
                      <div class="crud-stylist-btns" align="center">
                        <button class='btn btn-info' ng-hide="editing" ng-click="editing = true">Schedule an appointment</button>
                        <button class='btn btn-success' ng-show="editing" ng-click="stylistsIndexCtrl.editStylist(stylist); editing = false">Save Changes</button>
                      </div>
                    </li>
                    </ul>
                  </div>
                </div>

                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
