<div class="stylists">
  <div class="container">
    <div class="col-xs-12">
      <h1 align="center">Choose a stylist.</h1>
      <div class="container" ng-controller="StylistsIndexController as stylistsIndexCtrl">
        <input type="text" class="form-control" ng-model="searchText" placeholder="Search stylists">
        <div ng-repeat="stylist in stylistsIndexCtrl.stylists | orderBy: 'name' | filter: searchText" class="row">
          <br>
          <div class="col-md-10 col-md-offset-1">
            <div class="">
              <div class="">

                <div class='row'>
                  <div class="col-md-3 col-xs-12 thumbnail">
                    <img src="/images/placeholder.jpeg" alt="">

                  </div>

                  <div class="col-md-9 col-xs-12">

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span>{{stylist.name}}</span>
                    </li>

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span>{{stylist.bio}}</span>
                    </li>

                    <li class="">
                      <h4 class='inline-header'></h4>
                      <span>{{stylist.location}}</span>
                    </li>
                    <li>
                      <div class="crud-stylist-btns" align="center">
                      <a ng-href="stylists/{{stylist._id}}" ng-hide="editing" class='btn btn-info'>Schedule an appointment</a>
                      </div>
                    </li>
                    </ul>
                  </div>
                </div>

                <div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
