<div class="container-fluid" ng-init="stylistsShowCtrl.Data()" id="styilsts-show">
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-3">
                <img src="/images/placeholder.jpeg" class="img-responsive">
            </div>
            <div class="col-sm-9">
                <div class="row">
                    <div class="col-sm-12 stylists-data">
                        <p>{{stylistsShowCtrl.stylist.name}}</p>
                    </div>
                    <div class="col-sm-12 stylists-data">
                        <p>{{stylistsShowCtrl.stylist.bio}}</p>
                    </div>
                    <div class="col-sm-12 stylists-data">
                        <p>{{stylistsShowCtrl.stylist.location}}</p>
                    </div>
                    <div class="col-sm-12 stylists-data">

                        <p>Appointments:</p>

                        <div class="col-sm-12 stylists-data" ng-init="s.newName = s.name" ng-repeat="s in stylistsShowCtrl.stylist.appointments">

                            <button type="button" name="button" class="btn-info" ng-hide="s.active" ng-click="s.active = !s.active">
                              <span class="glyphicon glyphicon-pencil"></span>
                            </button>

                            <button type="button" name="button" class="btn-info" ng-show="s.active" ng-click="s.active = !s.active; stylistsShowCtrl.editAppointment(s) ">
                              <span class="glyphicon glyphicon-save"></span>
                            </button>

                            <button type="button" name="button" class="btn-danger" ng-hide="s.active" ng-click="stylistsShowCtrl.deleteAppointment(s); stylistsShowCtrl.stylist.appointments.splice($index,1)">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <button type="button" name="button" class="btn-warning" ng-show="s.active" ng-click="s.newName = s.name;s.active = !s.active;">
                              <span class="glyphicon glyphicon-remove"></span>
                            </button>

                            <span ng-hide='s.active'>{{s.newName}}</span>
                            <input type="text" name="{{s.name}}" ng-model="s.newName" ng-show='s.active'>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>








<button class='btn btn-info' ng-hide="creating" ng-click="creating = true">Schedule an appointment</button>
<button class='btn btn-success' ng-show="creating" ng-click="stylistsApptIndexCtrl.editAppointment(appointment); editing = false">Create appointment</button>
