<div class="container-fluid" ng-init="stylistsShowCtrl.Data()" id="styilsts-show">
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-3">
        <img src="/images/placeholder.jpeg" class="img-responsive">
      </div>
      <div class="col-sm-9">
        <div class="row">
          <div class="col-sm-12 stylists-data">
            <p>{{stylistsShowCtrl.tempData.name}}</p>
          </div>
          <div class="col-sm-12 stylists-data">
            <p>{{stylistsShowCtrl.tempData.bio}}</p>
          </div>
          <div class="col-sm-12 stylists-data">
            <p>{{stylistsShowCtrl.tempData.location}}</p>
          </div>
          <div class="col-xs-12" id="schedule-buttons">
            <button class='btn btn-info' ng-hide="creating" ng-click="creating = true">Schedule an appointment</button>
            <button class='btn btn-success' ng-show="creating" ng-click="stylistsApptIndexCtrl.createAppointment(appointment); creating = false">Create appointment</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-6">
        <div class="container">
          <form class="well form-horizontal" id="contact_form" ng-show="creating">
            <fieldset>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input placeholder="Name" class="form-control" type="text">
                  </div>
                </div>
              </div>

              <!-- Text input-->

              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-th"></i>
                    </span>
                    <input placeholder="Phone Number" class="form-control" type="text">
                  </div>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-envelope"></i>
                    </span>
                    <input name="email" placeholder="E-Mail Address" class="form-control" type="text">
                  </div>
                </div>
              </div>

              <!-- Text input-->
              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4 inputGroupContainer">
                  <div class="input-group">
                    <span class="input-group-addon">
                      <i class="glyphicon glyphicon-time"></i>
                    </span>
                    <input name="email" placeholder="Date & Time" class="form-control" type="text">
                  </div>
                </div>
              </div>



              <!-- Button -->
              <div class="form-group">
                <label class="col-md-4 control-label"></label>
                <div class="col-md-4" align="center">
                  <button onclick="makeSweetAlert()" type="button" class="btn btn-primary">Send
                    <span class="glyphicon glyphicon-send"></span>
                  </button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="col-xs-12" id="back-to-stylists">
  <a href="https://br-styles.herokuapp.com/" id="back-to-main">Back to Stylists</a>
</div>
