body {
  background-color: white;
  color: black;
  font-family: 'Open Sans Condensed', sans-serif;
}

.stylists {
  font-size: 1.5vw;
}

h1 {
  font-family: 'Open Sans Condensed', sans-serif;
}

.jumbotron {
  background-image: url(/images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  height: 30vw;
  width: 100%;
  margin-top: 1.5vw;
}

#jumbotron-message h1 {
  font-size: 4.5vw;
  margin-top: 4.0vw;
}

#jumbotron-message p {
  font-size: 1.5vw;
}

.section-hero-logo img {
  height: auto;
  width: 30%;
  margin-top: 2.0vw;
  margin-bottom: 2.0vw;
}

.jumbotron span {
  font-weight: bold;
}

.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}

.stylists {
  background-color: #f3f3f3;
  color: black;
}

.stylists h1 {
  color: black;
}

footer {
  background-color: black;
  color: white;
  margin-top: 15vw;
}

.thumbnail {
  background-color: #f3f3f3;
  border-width: 0px;
}

.crud-stylist-btns {
  margin-top: 1.5vw;
}

#create-stylists-form {
  background-color:
}

.form-group {
  text-align: center;
  border-width: thin;
}

#styilsts-show {
 font-size: 2vw;
}

footer a, a:hover {
 color: white;
}

#footer-div {
background-color: black;
}

#take-me-to-top a {
 font-size: 1.5vw;
 color: black;
 padding-top: 1vw;
}

#take-me-to-top a:hover {
 color: #0ce3ac
}

.well {
background-color: #f3f3f3;
}

#back-to-stylists {
text-align: center;
 font-size: 1.5vw;
}

#back-to-stylists a {
 color: black;
}

#schedule-buttons {
 margin-bottom: 2vw;
}
