body {
  background-color: white;
  color: black;
}

.jumbotron {
  background-image: url(/images/hero-img.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: black;
  height: 30vw;
  width: 100%;
  margin-top: 1.5vw;
}

#jumbotron-message h1 {
  font-size: 4.5vw;
  margin-top: 4.0vw;

}

#jumbotron-message p {
  font-size: 1.5vw;
}

.section-hero-logo img {
  height: auto;
  width: 30%;
  margin-top: 2.0vw;
  margin-bottom: 2.0vw;
}

.jumbotron span {
  font-weight: bold;
}

.jumbotron .container {
  height: 350px;
}

.inline-header {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 12px;
}

.hidden {
  display: none;
}

.stylists {
 background-color: #f3f3f3;
 color: black;
}

.stylists h1 {
 color: black;
}

footer {
 background-color: black;
 color: white;
 margin-top: 15vw;
}

.thumbnail {
background-color: #f3f3f3;
border-width: 0px;
}

.crud-stylist-btns {
  margin-top: 1.5vw;
}

#create-stylists-form {
 background-color: 
}

.form-group {
 text-align: center;
 border-width: thin;
}

/*.container {
	position:relative;
	overflow:hidden;
}

.css-carousel {
  width:500%;
  -webkit-animation: css-carousel 20s linear infinite;
	-moz-animation: css-carousel 20s linear infinite;
	-ms-animation: css-carousel 20s linear infinite;
	animation: css-carousel 20s linear infinite;
}

.css-carousel .css-img{
  display:inline-block;
}
.css-carousel img:not(:first-child){
  float:left;
}

@-webkit-keyframes css-carousel {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}

}
@-moz-keyframes css-carousel {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}
@-ms-keyframes css-carousel {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}
@keyframes css-carousel {
  0%, 23% {margin-left:0}
  25%, 48% { margin-left:-100%; }
  50%, 73% { margin-left:-200%; }
  75%, 98% { margin-left:-300%;}
  100% { margin-left:0;}
}*/
